name: deploy for main

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/*'
      - '__test__/**'
      - 'build/**'
      - 'code-runner/*'
      - 'components/*'
      - 'demoBlock/*'
      - 'docs/*'
      - 'theme/*'
      - 'Dockerfile'
      - 'docker-compose.yml'
      - 'nginx.conf'

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      # - name: lint and test # 测试
      #    run: |
      #      npm i
      #      npm run lint
      #      npm run test:local
      - name: set ssh key # 临时设置 ssh key
        run: |
          # mkdir -p ~/.ssh/
          echo "${{secrets.COSEN_ID_RSA}}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan "47.94.136.43" >> ~/.ssh/known_hosts
      - name: deploy
        run: |
          ssh work@47.94.136.43 "
            cd /home/work/cavinHuang-note;
            git remote add origin https://CavinHuang:${{secrets.COSEN_TOKEN}}@github.com/CavinHuang/note.git;
            git checkout main;
            git config pull.rebase false;
            git pull origin main;
            git remote remove origin;

            # 构建 prd-dev
            npm i;
            npm run docs:build;

            # 启动 docker
            docker-compose build cavinHuang-note; # 和 docker-compose.yml service 名字一致
            docker-compose up -d;
          "
      - name: delete ssh key
        run: rm -rf ~/.ssh/id_rsa

